.GroupCard {
  margin-left: 5rem;
  margin-bottom: 2rem;
  height: auto;
  display: inline-block;
  background-color: var(--color-dark);

  color: var(--color-light);
  &__content {
    display: flex;
    align-items: center;
    padding: 2rem;
  }
  &__icon {
    margin-left: 1.3rem;
    font-size: 2rem;
    transform: translatey(-0.8rem) rotate(-10deg);
  }
  &__name {
  }
  &__details {
    text-align: center;
    border: 1px solid red;
  }
}

.GroupCard:hover .GroupCard__name {
}

.GroupCard:hover .GroupCard__icon {
  transform: scale(1.4) translatey(-0.8rem) rotate(-10deg);
}
