.Home {
  padding-bottom: var(--padding-bottom-page);
  min-height: calc(100vh - 5rem);
  &__search-field-container {
    max-width: 50rem;
    height: 6rem;
    margin: auto;
    .SearchField__input {
      font-size: 2.3rem;
      &::placeholder {
        font-size: 2.5rem;
      }
    }
    .SearchField__icon {
      font-size: 2rem;
    }
  }
  .EventsList {
    margin-top: 5rem;
  }
}
