.EventDetails {
  color: var(--color-dark);
  font-size: 2.5rem;
  &__info {
    display: flex;
  }
  &__info-main {
    flex: 2 0 0;
  }
  &__detail-text {
    margin-bottom: 2rem;
  }
  &__link {
    color: blue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__info-forms {
    flex: 1 0 0;
    background-color: blue;
  }
  &__name {
    font-size: 4rem;
    text-align: center;
    color: var(--color-tertiary);
  }
  &__image-container {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  &__venue {
  }
  &__image {
    width: 100%;
  }
  .EventPosts {
    margin-top: 5rem;
  }
}
