.GeneralLayout {
  &__main {
    margin-top: 3rem;
    .SearchField__input {
      font-size: 2.3rem;
      &::placeholder {
        font-size: 2rem;
      }
    }
    .SearchField__icon {
      font-size: 2rem;
    }

    .container {
      position: relative;
    }
  }
  &__search-field-container {
    width: 44rem;
    height: 5rem;
    margin: auto;
    display: flex;
    align-items: center;
  }
}
