.SavedEvents {
  padding-bottom: var(--padding-bottom-page);
  &__search-field-container {
    width: 44rem;
    height: 5rem;
  }
  &__search-and-filter {
    display: flex;
    justify-content: center;
  }
  &__sort {
    margin-left: 2rem;
  }
  &__select {
    width: 20rem;
    padding: 1rem;
    height: 100%;
    border: 1px solid var(--color-tertiary);
    color: rgba(var(--color-black), 0.7);
  }
}
