.SavedEvents {
  padding-bottom: var(--padding-bottom-page);
  &__main {
    margin-top: 3rem;
    display: flex;
  }
  &__side-actions {
    background-color: red;
    margin-left: 8rem;
    flex: 0 0 20rem;
  }

  .EventsList {
    flex: 7 0 0;
  }
}
