.SavedEvents {
  &__events-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    justify-content: center;
    grid-gap: 3rem;
  }
}
