.TextButtonDropdown {
  cursor: pointer;
  position: relative;
  z-index: 2;
  text-align: center;
  &__view {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    margin-left: 1rem;
  }
  &__options {
    &--closed {
      display: none;
    }
    &--open {
      position: absolute;
      z-index: -1;
      top: 5rem;
      left: 0rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 2rem 0rem;
      background-color: white;
    }
  }
}
